.card-container {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.card-container:hover h2 {
    color: #6936F5;
    transition: color 0.3s ease;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card-avatar {
    height: 24px;
    width: 24px;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    opacity: 0.9;
}

.page-avatar {
    height: 48px;
    width: 48px;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    opacity: 0.9;
}

.card-body {
    display: flex;

}

.card-preview {
    flex-shrink: 0;
    height: 150px;
    width: 200px;
    background-size: cover;
    border-radius: 8px;
}

.card-copy {
    flex: 1;
    margin: 0px 32px;
}