.input {
    appearance: none;
    width: 100%;
    line-height: 1.4em;
    outline: none;
    border: none;
    padding: 12px 14px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    background: rgb(245, 245, 245);
    color: rgb(26, 26, 26);
    box-shadow: inset 0 0 0 1px transparent;
    font-family: inherit;
}